{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_surveydashboard/dashboard


    Example context (json):
    {
        
    }
}}

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h1>Survey Dashboard</h1>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class ="col col-sm-3">
            <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Semester End Survey</h5>
                  <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input term_checkbox" id="sem_end_chekbox" data-type="1" {{#sem_end_survey_isactive}} checked {{/sem_end_survey_isactive}}>
                    <label class="custom-control-label term_checkbox" for="sem_end_chekbox">Enable/Disable Semester End Survey</label>
                  </div>
                </div>
            </div>
        </div>
        <div class ="col col-sm-3">
            <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Mid Semester Survey</h5>
                  <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input term_checkbox" id="mid_sem_chekbox" data-type="2" {{#mid_sem_survey_isactive}} checked {{/mid_sem_survey_isactive}}>
                    <label class="custom-control-label" for="mid_sem_chekbox">Enable/Disable Mid Semester Survey</label>
                  </div>
                </div>
            </div>
        </div>
        <div class ="col col-sm-3">
            <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Quarter End Survey</h5>
                  <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input term_checkbox" id="quarter_end_chekbox" data-type="3" {{#quarter_end_survey_isactive}} checked {{/quarter_end_survey_isactive}}>
                    <label class="custom-control-label" for="quarter_end_chekbox">Enable/Disable Quarter End survey</label>
                  </div>
                </div>
            </div>
        </div>
        <div class ="col col-sm-3">
            <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Trimester End Survey</h5>
                  <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input term_checkbox" id="trimester_end_chekbox" data-type="4" {{#trimester_end_survey_isactive}} checked {{/trimester_end_survey_isactive}}>
                    <label class="custom-control-label" for="trimester_end_chekbox">Enable/Disable Trimester End survey</label>
                  </div>
                </div>
            </div>
        </div>
    </div>
    <br/>
    <br/>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script type="text/javascript">

    $(".term_checkbox").change(function() {
        if(this.checked) {
            var api_url = "{{api_url}}?term=" + this.dataset.type + "&status=1"
            $.ajax({
    				url: api_url,
    				type: 'GET',
    				contentType: "application/json charset=utf-8",
    				datatype: "json",
    				success: function(response){
                        console.log(response);
                        console.log("Success");
    				},
                    error: function(response){
                        console.log(response);
                        console.log("failure");
                    }
    		});
        }else
        {
            var api_url = "{{api_url}}?term=" + this.dataset.type + "&status=0"
            $.ajax({
    				url: api_url,
    				type: 'GET',
    				contentType: "application/json charset=utf-8",
    				datatype: "json",
    				success: function(response){
                        console.log(response);
    				},
                    error: function(response){
                        console.log(response);
                    }
    		});
        }
    });
</script>